/*--NEXT67. classList-->*/

.myButtons{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}
.enabled{
  background-color: aqua;
  color: white;
}
.hover{
  box-shadow: 0 0 10px hsl(0, 0%, 0%, 0.2);
  font-weight: bold;
}
.disabled{
  background-color: aquamarine;
  color: hsl(0, 0%, 50%);
}
  /*--NEXT66. 
.myButtons{
  font-size: 4rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: hsl(205,100%,60%);
  color: white;
}
*/
/*NEXT65. Hide/show HTML
  font-size: 2rem;
}
*/
/*NEXT64. Mouse events
body{
  margin: 0;
}
#myBox{
  background-color: lightcyan;
  width: 200px;
  height: 200px;
  font-size: 7.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
*/
/*NEXT63. Mouse events
#myBox{
  background-color: lightgreen;
  width: 300px;
  height: 300px;
  font-size: 4.5rem;
  font-weight: bold;
  align-items: center;
  text-align: center;
}
#myButton{
  font-size: 3rem;
}
*/
/*NEXT58.Calculator program
body{
  margin:0;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: hsla(0, 0%, 95%);
}
#calulator{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsla(0, 0%, 20%);
}
#keys{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  padding: 25px;
}
button{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsla(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color: hsla(0, 0%, 40%);
}
button:active{
  background-color: hsla(0, 0%, 50%);
}
.operator-btn{
  background-color: hsl(47, 94%, 51%);
}
.operator-btn:hover{
  background-color: hsl(47, 94%, 61%);
}
.operator-btn:active{
  background-color: hsl(47, 94%, 71%);
}
*/
/*NEXT54. Stopwatch program
body{
  background-image: url(/images/clock.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#myH1{
  font-size: 4rem;
  font-family: Arial, Helvetica, sans-serif;
  color: hsla(0, 0%, 25%);
}
#container{
  display:  flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 5px solid;
  border-radius: 50px;
  background-color:  white;  
}
#display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsla(0, 0%, 30%);
  text-shadow: 2px 2px 2px hsla(0,0%,0%,0.75);
  margin: 25px;
}
#controls button{
font-size: 1.5rem;
font-weight: bold;
padding: 10px 20px;
margin: 5px;
min-width: 125px;
border: none;
border-radius: 10px;
cursor: pointer;
color: white;
transition: background-color 0.5s ease;
}

#startBtn{
  background-color: hsla(115, 100%, 40%);
}
#startBtn:hover{
  background-color: hsla(115, 100%, 50%);
}
#stopBtn{
  background-color: hsl(0, 100%, 70%);
}
#stopBtn:hover{
  background-color: hsl(0, 100%, 80%);
}
#resetBtn{
  background-color: hsl(224, 63%, 52%);
}
#resetBtn:hover{
  background-color: hsl(224, 63%, 62%);
}
*/
/* NEXT 53. -------------------
body{
  background-image: url(/images/clock.jpg);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
}
#clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#clock{
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  color: white;

  background-color: hsla(0, 0%, 100%, 0.1);
  width: 100%;
}
*/
/* NEXT 28 Dice 
#container{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
button{
  font-size: 1.5rem;
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background-color: hsl(210,100%,50%);
  color:white;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  background-color:hsl(210,100%,60%);
}
button:active{
  background-color:hsl(210,100%,70%);
}
input{
  font-size: 2rem;
  width: 150px;
  text-align: center;
  font-weight:  bold;
}
#diceResult{
  margin: 25px;
}
#diceImages{
  width:150px;
  margin: 5px;
}
*/
/* NEXT 24.
body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 95%);
}
h1{
  color: hsl(223,100%,64%);
}
form{
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  max-width: 350px;
  margin:auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.31);
}

#textBox{
  width:50px;
  text-align: center;
  font-size: 2em;
  border: 2px solid rgba(0, 0, 0, 0.811);
  border-radius: 4px;
  margin-bottom: 15px;

}
label{
  font-size: 1.5em;
  font-weight: bold;
}
button{
  margin-top: 15px;
  background-color: hsl(0, 100%, 60%);
  color:white;
  font-size: 1.5em;
  border: 10px 15px;
  padding: 5px;
  cursor: pointer;
}
button:hover{
  background-color: hsl(0, 100%, 30%);
}
#result{
  font-size: 1.75em;
  font-weight: bold;
}
*/
/*
#countLabel{
  display: block;
  text-align: center;
  font-size: 10em;
  font-family: Helvetica
}
#btnContainer{
  text-align: center;
}

.buttons{
  padding: 10px 20px;
  font-size: 1.5em;
  color: white;
  background-color: hsl(214,100%,74%);
  border-radius: 5px;
  cursor:pointer;
  transition: background-color 0.25s;
}

.buttons:hover{
  background-color: hsl(225, 100%, 56%);
}

*/